node_modules
npm-debug.log*
yarn.lock:wq
storageState.json


# Playwright
playwright-report/
blob-report/
test-results/
*.trace.zip

# Env / secrets
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
